@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: #fff;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

h1 {
    color: #A8855D;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

h1 a{
    text-decoration: none;
    color: #FBF7F5;
}

a{
    text-decoration: none;
    color: #a2bda7;
}

.btn1 {
    white-space: nowrap;
    display: inline-block;
    height: 24px;
    width: 100px;
    margin-bottom: 3rem;
    line-height: 20px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .025em;
    color: #f1765c;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

#map {
    height: 75%
}

img.one {
    height: 20%;
    width: 20%;
}


/* Top Navigation */

.nav-container {
    background-color: #A8855D;
    color: #FBF7F5;
    a {
        color: #fff;
    }
}

.primary {
    color: #FBF7F5;
}

/* Side Navigation */

.side-nav {
    background-color: #FBF7F5;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 2rem;
}

.nav-link {
    color: #A8855D;
    font-weight: 400;
    font-size: 18px;
}

.nav-link:hover {
    color: #A8855D;
    font-weight: 600;
}
.send-button {
    background-color: #A8855D;
    color: #fff;
    border-radius: .25rem;
    text-align: center;
}
.active {
    font-weight: 700;
    /* background-color: #fff;
    border-radius: .25rem; */
}

li.nav-item a.nav-link.active:before {
  content: "• "; /*don't miss the space*/
  color: #F1765C;
}

li:not(.active):before {
 content: "• "; /*don't miss the space*/
 visibility: hidden;
}

/* User Home */
.card {
    background-color: #FBF7F5;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.welcome {
    margin: 2rem;
}

/* Making life easier */
.m0 {
    margin-left:: none !important;
}

.p0 {
    padding: 0px 0px 0px 0px !important;
}

.mt1 {
    margin-top: 1rem;
}

.mt3 {
    margin-top: 3rem;
}
