@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: #fff;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

h1 {
    color: #A8855D;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

h1 a{
    text-decoration: none;
    color: #FBF7F5;
}

h2 {
    color: #a2bda7;
    font-size: 25px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #a2bda7;
}

.btn1 {
    white-space: nowrap;
    display: inline-block;
    height: 24px;
    width: 100px;
    margin-bottom: 3rem;
    line-height: 20px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .025em;
    color: #f1765c;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

#map {
    height: 75%
}

img.one {
    height: 20%;
    width: 20%;
}


/* Top Navigation */

.nav-container {
    background-color: #A8855D;
    color: #FBF7F5;
    a {
        color: #fff;
    }
}

.primary {
    color: #FBF7F5;
}

/* Side Navigation */

.side-nav {
    background-color: #FBF7F5;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 2rem;
}

.nav-link {
    color: #A8855D;
    font-weight: 400;
    font-size: 18px;
}

.nav-link:hover {
    color: #A8855D;
    opacity: .3;
}
.send-button {
    background-color: #A8855D;
    color: #fff;
    border-radius: .25rem;
    text-align: center;
}
.active {
    font-weight: 700;
    /* background-color: #fff;
    border-radius: .25rem; */
}

li.nav-item a.nav-link.active:before {
  content: "• "; /*don't miss the space*/
  color: #F1765C;
}

li:not(.active):before {
 content: "• "; /*don't miss the space*/
 visibility: hidden;
}

/* User Home */
.card {
    background-color: #FBF7F5;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.welcome {
    margin: 2rem;
}

/* Making life easier */
.m0 {
    margin: 0px !important;
}

.p0 {
    padding: 0px 0px 0px 0px !important;
}

.mt1 {
    margin-top: 1rem;
}

.mt3 {
    margin-top: 3rem;
}

.ml {
    margin-left: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mb3 {
    margin-bottom: 3rem;
}

/* Contacts Page */
.table {
    border-radius: .1rem;
    -webkit-box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 2px rgba(0,0,0,.08);
    box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 2px rgba(0,0,0,.08);
}

.table thead tr {
    background-color: #FBF7F5;

}
.table thead th {
    border: none;
    font-weight: 600;
}

.table td {
    /* border: none; */
}

.add-contact {
    background-color: #A8855D;
    border-radius: .25rem;
    color: #fff;
    padding: 10px 35px;
}

/* Homepage Logged Out */

.bg-humano {
    background-color: #FBF7F5;
}
.humano-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.circle {
  width: 50px;
  height: 50px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 2px rgba(0,0,0,.08);
  box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 2px rgba(0,0,0,.08);
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
}

circle::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: blue;
  z-index: -1;
}
.shift-left {
    transform-origin: -36px 0px;
    transform: translate(0px) rotate(125deg);
}

.shift-left-down {
    transform-origin: -36px 65px;
    transform: translate(0px) rotate(125deg);
}

.shift-right {
    transform-origin: 25px 25px;
    transform: translate(0px) rotate(125deg);
}

.green {
  background-color: #a2bda7;
}

.brown {
  background-color: #A8855D;
  color: #fff;
}

.red {
  background-color: #f1765c;
}

.yellow {
  background-color: #FBB760;
}

.small {
    width: 25px;
    height: 25px;
}

.special {
    position: absolute;
}

.ball-wrap {
    position: relative;
    margin: 100px;
    width: 90px;
}

.ball-wrap div:nth-of-type(2) {
    top: 12px;
    left: -55px;
}

.ball-wrap div:nth-of-type(2):after {
    content: "";
    display: block;
    border-bottom: 1.5px dashed #f1765c;
    position: absolute;
    width: 50px;
    right: -50px;
    top: 50%;
}

.ball-wrap div:nth-of-type(3) {
    top: 12px;
    right: -58px;
}

.ball-wrap div:nth-of-type(3):after {
    content: "";
    display: block;
    border-bottom: 1.5px dashed #f1765c;
    position: absolute;
    width: 50px;
    left: -52px;
    top: 50%;
}

.ball-wrap div:nth-of-type(4) {
    right: 32px;
    bottom: -120px;
}

.ball-wrap div:nth-of-type(4):after {
    content: "";
    display: block;
    border-left: 1.5px dashed #f1765c;
    position: absolute;
    height: 50px;
    left: 50%;
    top: -52px;
}

.ball-wrap div:nth-of-type(5) {
    left: 33px;
    bottom: 100px;
}

.ball-wrap div:nth-of-type(5):after {
    content: "";
    display: block;
    border-left: 1.5px dashed #f1765c;
    position: absolute;
    height: 50px;
    right: 12px;
    top: 100%;
}

.body-container {
    height: 500px;
    padding-top: 65px;
}

.body-wrapper {
    border: 3px solid #A8855D;
    border-radius: .25rem;
}
.sub-nav {
    padding: 25px 0px;

}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: .25rem;
}

.brown-text {
    color: #A8855D;
}

.btn-small {
    padding: 5px 30px !important;
}

.btn-homepage {
    background-color: #FBF7F5;
    color: #A8855D;
    padding: 15px 50px;
    font-weight: 500;
    border-radius: .25rem;
    border: 3px #A8855D solid;
}

.btn-homepage:hover {
    color: #A8855D;
    opacity: .7;
    -webkit-box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 2px rgba(0,0,0,.08);
    box-shadow: 0 1px 2px rgba(50,50,93,.11), 0 1px 2px rgba(0,0,0,.08);
    text-decoration: none;
}

.nav-link-homepage {
    color: #A8855D;
    font-weight: 500;
    padding: 0px 25px;
}

.nav-link-homepage:hover {
    color: #A8855D;
    opacity: .7;
    text-decoration: none;
}
