<html>
<head>
  <title>humano | About</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="static/images/favicon.ico"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>


<main role="main" class="container-fluid col-8">
    <div class="welcome">
        <p class="text-center">
            <a href="/">
                &lsaquo; Return home
            </a>
        </p>
        <h1>
            About humano
        </h1>
        <hr class="mb-4">
    </div>
    <p class="text-center" style="font-weight: 500;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim, felis non luctus vestibulum, risus nisl lacinia arcu, non rhoncus justo augue eu nisl. Etiam mollis justo non posuere sodales. Praesent vehicula massa quam, sit amet vehicula tortor iaculis nec. Maecenas eget nulla mollis, iaculis mauris sed, ultrices felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur convallis a nisi a fringilla. Etiam non metus ac nibh tincidunt sollicitudin. Donec placerat, diam sed laoreet commodo, arcu nisl faucibus arcu, luctus cursus tortor justo vitae eros. Curabitur fringilla consectetur neque at porttitor. Pellentesque sed vestibulum neque. Ut pellentesque bibendum tellus, ac commodo purus fermentum non. Suspendisse eget dui eget mi molestie convallis
        <br>
        <br>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec lobortis varius arcu, sit amet mattis velit consequat ut. Nunc ac justo fermentum, faucibus turpis viverra, imperdiet urna. Sed felis nulla, hendrerit in efficitur nec, varius id felis. Nunc euismod, leo non dapibus bibendum, erat nisi finibus enim, quis convallis massa ipsum sit amet orci. Vestibulum orci neque, euismod vel aliquam ac, commodo quis tortor. Etiam varius nibh a mauris semper, ac vestibulum nisi maximus. Morbi maximus sit amet magna quis malesuada. Nulla ut gravida erat, et consectetur elit. Nam odio orci, condimentum id lorem in, mollis ornare tellus. In quis pellentesque velit. Vivamus sed quam ut urna venenatis feugiat ac id mauris. Sed faucibus ultrices vestibulum. Integer efficitur augue ligula, nec bibendum lacus dapibus eget.
    </p>
    <h6 class="text-center">
        <br>
        <br>
        Best,
        <br>
        <br>
        Michelle Espinosa
    </h6>
</main>

</html>
