{% extends 'base.html' %}

{% block title %} humano | Add message {% endblock %}

{% block content %}

<body>
  <div class="container">
    <div class="py-4 text-center">
      <p class="lead">Add message</p>
    </div>

        <form action="/add-message", method="POST" class="form-signin mt0">
          <div class="row">
            <div class="col">
              <textarea onkeyup="textCounter(this,'counter',1600);" id="message" class="form-control" name="message" rows="6" cols="100" placeholder="Write your message here. Remember to include your name so your contacts know it is you sending this message."
               maxlength="1600" autofocus required></textarea>
            </div>
          </div>

          <input disabled maxlength="" style="border:none;" size="10" value="1600" id="counter">
          <script>
            function textCounter(field,field2,maxlimit){
               let countfield = document.getElementById(field2);
               if (field.value.length > maxlimit){
                  field.value = field.value.substring(0, maxlimit);
                  return false;
               } else {
                countfield.value = maxlimit - field.value.length;
               }
            }
          </script>

          <hr class="mb-4">

        <button type="submit" class="btn-signup">
            Save
        </button>

          <p class="text-center mt1">
              <a href="/user-home">
                  Cancel ›
              </a>
          </p>

      </form>

    </div>
</body>

{% endblock %}
