<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="nav-container">
    <div class="navbar shadow-sm">
        <div class="container d-flex justify-content-between">

            {% if "user_id" in session %}
                <a class="navbar-brand primary d-flex align-items-center" href="/user-home">
                    humano
                </a>
            {% else %}
                <a class="navbar-brand  primary d-flex align-items-center" href="/">
                    humano
                </a>
            {% endif %}

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
      
        <nav class="col-md-2 d-none d-md-block sidebar side-nav ">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" id="nav">
                {% if "user_id" in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user-home">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-message">
                            Message
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-contacts">
                            Contacts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">
                            News
                        </a>
                    </li>
                    <li class="nav-item" id="search-lawyers">
                        <!-- <script src="/static/js/location-finder.js"> -->
                        <!-- </script> -->
                        <a class="nav-link" href="/search_lawyers">
                            Lawyers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item mt3">
                        <a class="nav-link send-button" href="#">
                            Send
                        </a>
                    </li>
                {% endif %}
              </ul>
          </div>
        </nav>

        <div class="col-10">
          {% with messages = get_flashed_messages() %}
            {% if messages %}

              {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}

            {% endif %}
          {% endwith %}

            {% block content %}BODY CONTENT GOES HERE{% endblock %}
        </div>
    </div>
</div>

<script>
  $(function() {
    $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
  });
</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
