{% extends 'base.html' %}

{% block title %} Humano | Home {% endblock %}

{% block content %}

  <form>
  <input id="logIn" class="btn1" type="button" value="Log In" onclick="window.location.href='/login'" />
  </form>

  <form>
  <input id="signUp" class="btn1" type="button" value="Sign Up" onclick="window.location.href='/sign-up'" />
  </form>

  <!-- <button id="logIn" class="btn">Log In</button>
  <button id="signUp" class="btn">Sign Up</button> -->

  <!-- <script>
    "use strict";
    let statusButton = document.getElementById("logIn");
    function changeButton(evt){
      if (statusButton.innerHTML == 'Log In'){
        statusButton.innerHTML = 'Log Out';
      }
      else {
        statusButton.innerHTML = 'Log In';
      }
    }
    statusButton.addEventListener('click', changeButton);
  </script> -->

{% endblock %}