{% extends 'base.html' %}

{% block title %} humano | Rights {% endblock %}

{% block content %}

<h2 class="mt3">Know your rights</h2>


<div class="container">
                <div class="row pt-5">
                    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                        <div class="pr-lg-3">
                            <!-- <span class="icon icon-primary mb-3">
                                <i class="icon-inner fab fa-accessible-icon" aria-hidden="true"></i>
                            </span> -->
                            <h3 class="h4">If you're stopped by police:</h3>
                            <p class="mb-md-0">Built with accessibility in mind and following best practices.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                        <div class="pr-lg-3">
                            <!-- <span class="icon icon-primary mb-3">
                                <i class="icon-inner fas fa-mobile-alt" aria-hidden="true"></i>
                            </span> -->
                            <h3 class="h4">If you're stopped in your car:</h3>
                            <p class="mb-md-0">Mobile-first flexbox grid to build layouts of all shapes and sizes.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                        <div class="pr-lg-3">
                            <!-- <span class="icon icon-primary mb-3">
                                <i class="icon-inner fab fa-font-awesome-flag" aria-hidden="true"></i>
                            </span> -->
                            <h3 class="h4">If you're arrested by police</h3>
                            <p class="mb-md-0">More than 1200 vector icons from the web's most popular icon set.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                        <div class="pr-lg-3">
                            <!-- <span class="icon icon-primary mb-3">
                                <i class="icon-inner fas fa-code" aria-hidden="true"></i>
                            </span> -->
                            <h3 class="h4">If you're taken into immigration (or ICE) custody:</h3>
                            <p class="mb-md-0">W3C valid code to ensure the site works properly on all major browsers.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                        <div class="pr-lg-3">
                            <!-- <span class="icon icon-primary mb-3">
                                <i class="icon-inner fab fa-sass" aria-hidden="true"></i>
                            </span> -->
                            <h3 class="h4">If you feel your rights have been violated:</h3>
                            <p class="mb-md-0">Easily customize your site modifying the source scss files.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
                        <div class="pr-lg-3">
                            <!-- <span class="icon icon-primary mb-3">
                                <i class="icon-inner fab fa-gulp" aria-hidden="true"></i>
                            </span> -->
                            <h3 class="h4">Gulp</h3>
                            <p class="mb-md-0">Automated workflow for your development tasks.</p>
                        </div>
                    </div>
                </div>
            </div>


    <footer class="humano-footer">
      <p>Information source: <a target="_blank" href="https://www.aclu.org/files/kyr/MKG17-KYR-PoliceImmigrationFBI-OnePager-English-v01.pdf"> ACLU</a></p>
    </footer>

{% endblock %}