{% extends 'base.html' %}

{% block title %} humano | Rights {% endblock %}

{% block content %}

<main role="main" class="container-fluid col-8">
    <div class="welcome">
        <h1>
            Know your rights
        </h1>
        <hr class="mb-4">
    </div>
</main>


<div class="container">
    <div class="row pt-5">
        <div class="col-sm-6 col-md-4 mb-md-5">
            <div class="pr-lg-3">
                <h4>If you're stopped in your car:</h4>
                <p class="mb-md-0">Stop the car in a safe place as quickly as possible. Turn off the car, turn on the internal light, open the window partway, and place your hands on the wheel. Upon request, show police your driver's license, registration, and proof of insurance. You can refuse to a search of your car, but if police believe your car contains evidence of a crime, they can search it without your consent.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
            <div class="pr-lg-3">
                <h4>If you're stopped by police:</h4>
                <p class="mb-md-0">You have a right to remain silent. Some states may require you to identify yourself to the police if you're suspected of a crime. Stay calm, don't run. Don't argue, resist, or obstruct the police. You don't have to consent to a search of yourself or your belongings. Ask if you're free to leave. If yes, calmly and silently walk away. </p>
            </div>
        </div>
          <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
            <div class="pr-lg-3">
                <h4>If you're arrested by police</h4>
                <p class="mb-md-0">Don't resist. Say you wish to remain silent and ask for a lawyer. If you can't afford a lawyer, the government must provide one. You have the right to make a local phone call. The police can't listen if you call a lawyer. Don't discuss your immigration status with anyone but your lawyer. An immigration officer may visit you in jail. Don't say or sign anything, or make any decisions without a lawyer. Read all papers fully. If you don't understand or cannot read the papers, say you need an interpreter.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
            <div class="pr-lg-3">
                <h4>If you feel your rights have been violated:</h4>
                <p class="mb-md-0">Write down everything you remember, including officers' badge and patrol car numbers, which agency the officers were from, and any other details. Get contact information for witnesses. If you're injured, seek medical attention and take pictures of your injuries. File a written complaint with the agency's internal affairs division or civilian complaint board. In most cases, you can file a complaint anonymously if you wish.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
            <div class="pr-lg-3">
                <h4>If you're taken into immigration (or ICE) custody:</h4>
                <p class="mb-md-0">You have the right to call a lawyer. If you don't have a lawyer, ask for a list of free or low-cost legal services. You have the right to contact your consulate or have an officer inform the consulate of your arrest. Tell the immigration officer you wish to remain silent. Don't sign anything, such as a voluntary departure or stipulated removal, without talking to a lawyer. If you sign, you may be giving up your opportunity to try to stay in the US. <strong>Know your immigration number</strong>, and give it to your family. It will help them locate you.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-md-5">
            <div class="pr-lg-3">
                <h4>If the police or immigration agents come to your home:</h4>
                <p class="mb-md-0">You don't have to let them in unless they have a warrant signed by a judge. Ask them to show you the warrant. Officers can only search the areas and for the items listed on the warrant. An arrest warrant allows the police to enter the home of the person listed on the warrant if they believe the person is inside. <strong>A warrant of removal/deportation (ICE warrant) does not allow officers to enter a home without consent.</strong> Even if officers have a warrant, you may remain silent.</p>
            </div>
        </div>
    </div>
</div>


    <footer class="humano-footer">
      <p>Information source: <a target="_blank" href="https://www.aclu.org/files/kyr/MKG17-KYR-PoliceImmigrationFBI-OnePager-English-v01.pdf"> ACLU</a></p>
    </footer>

{% endblock %}
