{% extends 'base.html' %}

{% block title %} humano | Lawyers {% endblock %}

{% block content %}

  {# next_pg_token #}<br>

  <!-- TO DO: provide more context on what this page does -->

    {% for result in results %}

      <a href="/search_lawyers/{{ result['place_id'] }}">{{ result["name"] }}</a><br>
      Rating: {{ result["rating"] }}<br>
      {{ result["formatted_address"] }}<br><br>

    {% endfor %}

  {% if next_pg_token %}
    <button type="button" id="more-lawyers" class="btn btn-link">Next Page</button>
  {% endif %}
  <!-- TO DO: continue with AJAX call to load more lawyers -->

  <script src="/static/js/location-finder.js"></script>

{% endblock %}