{% extends 'base.html' %}

{% block title %} humano | Lawyer Details {% endblock %}

{% block content %}


<main role="main" class="container-fluid col-8">
    <div class="welcome">
      <h1>
          {{ result["name"] }}
      </h1>
      <p class="text-center">
          {{ result["formatted_address"] }} • {{ result["formatted_phone_number"] }}
      </p>
      <p class="text-center">
          <a href="{{ result['website'] }}" target="_blank">
              Visit website &rsaquo;
          </a>
      </p>
      <hr class="mb-4">
  </div>

  <div class="table-responsive-sm">
      <table class="table table-sm table-hover text-center">
        <thead>
          <tr>
            <th>
                Business hours
            </th>
          </tr>
        </thead>
        <tbody>
          {% for hour in result["opening_hours"]["weekday_text"] %}
          <tr>
              <td>
                  {{ hour }}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</main>

<div class="container-fluid mt3">
    <div class="row">
        <div class="col">
          <div class="table-responsive">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th style="width: 12%">
                        Posted
                    </th>
                    <th style="width: 12%">
                        Reviewer
                    </th>
                    <th style="width: 11%">
                        Rating
                    </th>
                    <th style="width: 65%">
                        Review
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for review in result["reviews"] %}
                  <tr>
                      <td>
                          {{ review["relative_time_description"] }}
                      </td>
                      <td>
                          {{ review["author_name"] }}
                      </td>
                      <td>
                          {{ review["rating"] }}
                      </td>
                      <td>
                          {{ review["text"] }}
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

{% endblock %}


<!-- {
   "html_attributions" : [],
   "result" : {
      "formatted_address" : "37600 Central Ct, Newark, CA 94560, USA",
      "formatted_phone_number" : "(510) 742-5887",
      "geometry" : {
         "location" : {
            "lat" : 37.521261,
            "lng" : -122.039472
         },
         "viewport" : {
            "northeast" : {
               "lat" : 37.5223750302915,
               "lng" : -122.0380027697085
            },
            "southwest" : {
               "lat" : 37.5196770697085,
               "lng" : -122.0407007302915
            }
         }
      },
      "name" : "Shah Peerally - Immigration Lawyer",
      "opening_hours" : {
         "open_now" : true,
         "periods" : [
            {
               "close" : {
                  "day" : 1,
                  "time" : "1800"
               },
               "open" : {
                  "day" : 1,
                  "time" : "0800"
               }
            },
            {
               "close" : {
                  "day" : 2,
                  "time" : "1800"
               },
               "open" : {
                  "day" : 2,
                  "time" : "0800"
               }
            },
            {
               "close" : {
                  "day" : 3,
                  "time" : "1800"
               },
               "open" : {
                  "day" : 3,
                  "time" : "0800"
               }
            },
            {
               "close" : {
                  "day" : 4,
                  "time" : "1800"
               },
               "open" : {
                  "day" : 4,
                  "time" : "0800"
               }
            },
            {
               "close" : {
                  "day" : 5,
                  "time" : "1800"
               },
               "open" : {
                  "day" : 5,
                  "time" : "0800"
               }
            },
            {
               "close" : {
                  "day" : 6,
                  "time" : "1600"
               },
               "open" : {
                  "day" : 6,
                  "time" : "1100"
               }
            }
         ],
         "weekday_text" : [
            "Monday: 8:00 AM – 6:00 PM",
            "Tuesday: 8:00 AM – 6:00 PM",
            "Wednesday: 8:00 AM – 6:00 PM",
            "Thursday: 8:00 AM – 6:00 PM",
            "Friday: 8:00 AM – 6:00 PM",
            "Saturday: 11:00 AM – 4:00 PM",
            "Sunday: Closed"
         ]
      },
      "rating" : 4.3,
      "reviews" : [
         {
            "author_name" : "A Google User",
            "language" : "en",
            "rating" : 5,
            "relative_time_description" : "a month ago",
            "text" : "The best immigration lawyer! Mr.Shah is very knowledgeable and sharp with his solutions. The warmth and confidence with which Mr.Shah handled our case is unmatched. Mr.Shah walked us thru the entire process until our reapplication to ensure that all went well. He provided all the necessart inputs for us to be fully equiped with our documentation. I consulted several immigration lawyers for my case and Mr.Shah was the ONLY ONE who was not after milking the client. He is sincere and treats you with respect. Thank you for all the help, Mr.Shah!"
         },
         {
            "author_name" : "A Google User",
            "language" : "en",
            "rating" : 5,
            "relative_time_description" : "a month ago",
            "text" : "Clearly the best, Thank you very much for your assistance in getting my H4 EAD"
         },
         {
            "author_name" : "A Google User",
            "language" : "en",
            "rating" : 1,
            "relative_time_description" : "a year ago",
            "text" : "This was the first time I called this office with regards to my and a friends immigration help and the personal on the phone was very rude and didn't seem interested with the case. So I called other attorney and they were more professional and patient. Just writing this review to bring the head of the firm to notice that unprofessional employees can hamper your business."
         },
         {
            "author_name" : "A Google User",
            "language" : "en",
            "rating" : 5,
            "relative_time_description" : "2 years ago",
            "text" : "I had seen 2 attorneys before i heard about Shah from a friend of mine, i am a Us citizen and my spouse immigration case was revoked , thanks to God and Mr Shah help my wife is here in US , I think what differentiates other Attorneys from Mr Shah is Unlike other Attorneys he is very reachable , you can call him or email him directly and he will respond you As soon as he can. He will look in to the case personally . For me he treated me as younger brother. \nI would strongly recommend Mr Shah to any1 regarding immigration problems.\nThank you So much Mr Shah for all your time and help."
         },
         {
            "author_name" : "A Google User",
            "language" : "en",
            "rating" : 5,
            "relative_time_description" : "2 years ago",
            "text" : "Shah is was not just my lawyer he was like a older brother to me. I'm sure anyone that goes to him will feel the same way! I recommend this lawyer to everyone that has a immigration issue."
         }
      ],
      "url" : "https://maps.google.com/?cid=12346247573574646916",
      "website" : "http://www.peerallylaw.com/"
   },
   "status" : "OK"
} -->
