<head>
  <style type="text/css">
    #map {
      height: 75%
    }
  </style>
</head>

{% extends 'base.html' %}

{% block title %} humano | Map {% endblock %}

{% block content %}

  <p>Here is my approximate location:
  </p>
  
  <input 
    type="hidden" 
    name="userId" 
    id="user" 
    value="{{ user_id }}">
  <div 
    id="map">
  </div>
  
  <script src="/static/js/map.js">
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
  </script>

{% endblock %}