<head>
  <style type="text/css">
  #map {
    height: 75%
  }
  </style>
</head>

{% extends 'base.html' %}

{% block title %} Humano | Home {% endblock %}

{% block content %}

  <div id="map"></div>
  <script>
    let myLatLng = {lat: 37.789, lng: -122.412};
    let map;
    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: myLatLng,
        zoom: 14
      });

      // $.get("/map",)

      let marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: "Hey there"
      });
    }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
  </script>

{% endblock %}