{% extends 'base.html' %}

{% block title %} humano | News {% endblock %}

{% block content %}

<!-- TO DO: provide more context on what this page does -->

<main role="main" class="container-fluid col-8">
    <div class="welcome">
        <h1>
            News
        </h1>
        <p class="text-center" style="color: #A8855D;">Comprehensive immigration news coverage
        </p>
        <hr class="mb-4">
    </div>
</main>

    <div class="container">
        <div class="row mt3">
                        <!-- <div class="col-sm-4"> -->
            {% for article in articles %}

                <div class="col-3 card mb3 text-center">
                    <img class="card-img-top" src="{{ article['urlToImage'] }}" alt="Image did not load 😞">
                    <div class="d-flex flex-column rounded border card-body">
                        <h5 class="card-title">
                            {{ article["title"] }}
                        </h5>
                        <p class="card-text">
                            {{ article["author"] }}
                        </p>
                    </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ article["publishedAt"][:-10] }}</li>
                        <li class="list-group-item">{{ article["description"] }}</li>
                        </ul>
                        <div class="card-body">
                        <a href="{{ article['url'] }}" class="card-link" target="_blank">{{ article["source"]["name"] }}</a>
                    </div>
                </div>

            {% endfor %}
            </div>
        <!-- </div> -->
    </div>

{% endblock %}
