{% extends 'base.html' %}

{% block title %} humano | Sent Messages {% endblock %}

{% block content %}

<!-- Begin Sent Message Table -->
            <div class="table-responsive mt1">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th style="width:15%">Time Sent</th>
                      <th style="width:15%"># of Contacts</th>
                      <th style="width:50%;">Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for message in messages %}
                    <tr class="lline">
                        <td>{{ message[0].strftime("%m/%d/%Y at %I:%M %p") }}</td>
                        <td>{{ message[1] }}</td>
                        <td>{{ message[2] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
<!-- End Sent Message Table -->

<!-- Begin Empty State -->
      {% if not messages %}
          <div class="empty-page">
              <i class="fas fa-user user mb"></i>
              <h1>
                  No messages have been sent
              </h1>
          </div>
      {% endif %}
<!-- End Empty State -->

{% endblock %}
