{% extends 'base.html' %}

{% block title %} humano | Sent Messages {% endblock %}

{% block content %}

<!-- Begin Sent Message Table -->
            <div class="table-responsive mt1">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Time Sent</th>
                      <th>Amount of Contacts Reached</th>
                      <th>Message</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message[0].strftime("%B %d, %Y at %I:%M %p") }}</td>
                        <td>{{ message[1] }}</td>
                        <td>{{ message[2] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
<!-- End Sent Message Table -->

<!-- Begin Empty State -->
      {% if not messages %}
          <div class="empty-page">
              <i class="fas fa-user user mb"></i>
              <h1>
                  No messages have been sent
              </h1>
          </div>
      {% endif %}
<!-- End Empty State -->

{% endblock %}
