<html>
<head>
  <title>humano | Log In</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<div class="container">
  <div class="py-5 text-center">
      <h2>
          <a href="/">humano</a>
      </h2>
    <img class="d-block mx-auto mb-4" src="static/images/bell.png" alt="" width="72" height="72">
    <p class="lead">Create your humano account</p>
  </div>

  <body>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    

  <div class="row">

      <form action="/sign-up", method="POST" class=" form-signin mt0">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" name="first_name" autofocus placeholder="Grace" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Hopper" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Ghopper" required="">
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" value="" required="">
            <div class="invalid-feedback" style="width: 100%;">
              Your password is required.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="me@me.com" required="">
            <div class="invalid-feedback" style="width: 100%;">
              Your email is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="">Phone Number</label>
            <input type="tel" class="form-control" name="phone_number" placeholder="123-456-7891" value="" required="">
            <div class="invalid-feedback" style="width: 100%;">
              Your phone number is required.
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <button class="btn-signup" type="submit">Sign up</button>
    </form>

  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>

  </body>

</html>
