{% extends 'base.html' %}

{% block title %} humano | Home {% endblock %}

{% block content %}

<main role="main" class="container-fluid col-8">
    <div class="welcome">

      {% if message and contacts %}
        <h1>
            Welcome {{ user_name }}
        </h1>
      {% else %}
        <h1>
            Get started
        </h1>
      {% endif %}
        <hr class="mb-4">

    </div>

  <!-- If the user has added their contacts and message, they can send their location to their contacts -->
  {% if message and contacts %}
      <div class="my-3 p-3 card">
          <div class="media text-muted pt-3">
            <i class="fas fa-check check mr1"></i>
            <div class="media-body small">
              <div class="d-flex justify-content-between align-items-center w-100">
                <h3>
                  When necessary, send a message to your contacts
                </h3>
                <!-- <a class="action-button" href="#">
                    Send
                </a> -->
                <button
                type="button"
                id="send-message-location"
                class="action-button super">
                    Send
              </button>
              </div>
            </div>
          </div>
      </div>
  {% endif %}

    <div class="my-3 p-3 card">
        <div class="media text-muted pt-3">
          <i class="fas fa-check check mr1"></i>
          <div class="media-body small">
            <div class="d-flex justify-content-between align-items-center w-100">

            <!-- If the user has a message, show 'edit message' link -->
            {% if message %}
                <h3>
                    Edit message
                </h3>
                <a class="action-button" href="/view-message">
                    Edit
                </a>
            {% else %}
                <h3>
                    Add message
                </h3>
                <a class="action-button" href="/add-message">
                    Add
                </a>
            {% endif %}
            </div>
          </div>
        </div>
    </div>

    <div class="my-3 p-3 card">
        <div class="media text-muted pt-3">
          <i class="fas fa-check check mr1"></i>
          <div class="media-body small">
            <div class="d-flex justify-content-between align-items-center w-100">

                <!-- If the user has a contact, display view-contacts link -->
                {% if contacts %}
                    <h3>
                        View contacts
                    </h3>
                    <a class="action-button" href="/my-contacts">
                        View
                    </a>
                  {% else %}
                  <h3>
                      Add contacts
                  </h3>
                  <a class="action-button" href="/my-contacts">
                      Add
                  </a>
                  {% endif %}
            </div>
          </div>
        </div>
    </div>


<!-- if the user has sent their message and location -->
{% if users_sent_message %}
    <div class="my-3 p-3 card">
        <div class="media text-muted pt-3">
          <i class="fas fa-check check mr1"></i>
          <div class="media-body small">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h3>
                    View sent messages
                </h3>
                  <a class="action-button" href="/sent-messages">
                      View
                  </a>
            </div>
          </div>
        </div>
    </div>
{% endif %}

{% if users_sent_message %}
    <div class="my-3 p-3 card">
        <div class="media text-muted pt-3">
          <i class="fas fa-check check mr1"></i>
          <div class="media-body small">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h3>
                    View last location
                </h3>
                  <a class="action-button" href="/map/{{ current_user }}">
                      View
                  </a>
            </div>
          </div>
        </div>
    </div>
{% endif %}

<!-- TO DO: Need to center cards with page -->
<!-- News -->

<div class="welcome mt3">
    <h1>
        Know your rights
    </h1>
    <hr class="mb-4">
</div>

    <div class="row mt3">
        <div class="col">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                  If you're stopped by police
              </h5>
              <p class="card-text sf">
                  You have the right to remain silent.
              </p>
              <a href="/know_your_rights" class="card-link sf">
                  Learn more &rsaquo;
              </a>
            </div>
        </div>
        </div>
        <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
              If the police come to your home
          </h5>
          <p class="card-text sf">
              You don't have to let them in.
          </p>
          <a href="/know_your_rights" class="card-link sf">
              Learn more &rsaquo;
          </a>
        </div>
      </div>
  </div>
  <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
              If you're taken into custody
          </h5>
          <p class="card-text sf">
              You have the right to a lawyer.
          </p>
          <a href="/know_your_rights" class="card-link sf">
              Learn more &rsaquo;
          </a>
        </div>
      </div>
  </div>
  </div>
</main>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title line" id="exampleModalLongTitle" style="color:#a2bda7;">
              Your message and location have been sent.<br>
              Remember:
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    ICE can't come into your home without a warrant signed by a judge. They can only come in if you let them. Ask them to show you their warrant.
                </li>
                <li class="list-group-item">
                    If you wish to remain silent, say "I plead the fifth amendment and choose to remain silent."
                </li>
                <li class="list-group-item">
                    Write down everything you remember, the amount of agents, badge numbers, time, details about the car, and exactly what happened.
                </li>
                <li class="list-group-item">
                    Don't sign anything without a lawyer. Get a trustworthy attorney (ask for a list of free or low-cost lawyers) & explore all options to fight your case. Don't give up hope!
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="action-button btn-login" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/location-finder.js"></script>


{% endblock %}
