{% extends 'base.html' %}

{% block title %} humano | My Message {% endblock %}

{% block content %}

<body>
  <div class="container">


  {% if message_obj %}

    <div class="card text-center mt3">
        <div class="card-header">
            My message
        </div>
        <div class="card-body">
        <h5 class="card-title">
            {{ message_obj.message }}
        </h5>
        <a href="/edit-message" class="action-button">
            Edit
        </a>
        </div>
    </div>

  {% else %}

    <div class="py-4 text-center">
        <p class="lead">
            Add message
        </p>
    </div>

        <form action="/add-message", method="POST" class="form-signin mt0">
          <div class="row">
            <div class="col">
              <textarea class="form-control" name="message" rows="6" cols="100" placeholder="Write your message here."
               maxlength="1600" autofocus required></textarea>
            </div>
          </div>

          <hr class="mb-4">

        <button type="submit" class="btn-signup">
            Save
        </button>

          <p class="text-center mt1">
              <a href="/user-home">
                  Cancel ›
              </a>
          </p>

        </form>

    </div>
</body>

  {% endif %}

{% endblock %}
