{% extends 'base.html' %}

{% block title %} Humano | My Message {% endblock %}

{% block content %}

  {% if message_obj %}

    <h2>My message:</h2>
    <p>
    {{ message_obj.message }}
    </p>
    <a href="/edit-message">Edit Message

  {% else %}

    <h2>Add your message:</h2>

    <form action="/add-message", method="POST">
      <textarea name="message" rows="6" cols="100" placeholder="Please write your message here."
       maxlength="1600" autofocus required></textarea><br>
      <button type="submit" class="btn1">Add message</button>
    </form>

  {% endif %}

{% endblock %}
